@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: black;
    border-radius: 30px;
    
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    border-radius: 20px;
    background-color: whitesmoke;
    color: red
}
.search{
    float: right;
    color: white;
    padding: 15px 90px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
#clockContainer{ align-items: left; 
    /* background-color: aqua;
    border-radius; */
    /* border:2px solid green; */
    /* height: 100px;
    width: 100px;
    align-content: ; */
    /* margin-left: 4vw; */
/* position: relative;
margin: auto;
height: 10vw;
width: 10vw; 
background: url(clock.png) no-repeat;
background-size: 100%; */


    position: absolute;
    right: 10px; /* Adjust the left position as needed */
    top: 100px; /* You can adjust the top position if necessary */
    height: 10vw;
    width: 10vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    /* border: 2px solid gray; */


}

#hour, #minute, #second{
position: absolute;
background: black;
border-radius: 10px; 
transform-origin: bottom;
}
#hour{
width: 1.8%;
height: 25%;
top: 25%;
left: 48.85%;
opacity: 0.8;  
}
#minute{
width: 1.6%;
height: 30%;
top: 19%;
left: 48.9%;
opacity: 0.8;  
}
#second{
width: 1%;
height: 40%;
top: 9%;
left: 49.25%;
opacity: 0.8; 

}
body{
    background-color: #cde2bf;
}

nav{
    background-color: rgb(223, 119, 211);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{ 
    border: 2px solid ghostwhite;
    border-right: none;
    /* margin-left: 20px; */
    margin-right: 76px;

    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(242, 234, 250);
}

.info {
    font-size: 22px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #e2b4f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

footer{
    border: 0.2px solid black;
    margin-top: 13px;
    font-size: 28px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* position: absolute */
    /* color: rgb(161, 239, 239); */
    color: #911d91;
}
.i{
    margin-left: 10vw;
    /* left: 40px; */
}
.c{
    margin-left: 32vw;
}
@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap:nowrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
